@tailwind base;
@tailwind components;
@tailwind utilities;
/* Minimalista */
.my-scroll::-webkit-scrollbar {
  width: 6px;
}

.my-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.my-scroll::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 10px;
}

.my-scroll::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}
/* Scrollbar general */
::-webkit-scrollbar {
  width: 6px;           /* Grosor del scrollbar */
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
  background: #e5e7eb;  /* gris claro (tailwind: gray-200) */
  border-radius: 100px;
}

/* Barra que se mueve */
::-webkit-scrollbar-thumb {
  background: #152c48;  /* tu verde */
  border-radius: 100px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #152c48;  /* verde un poco más oscuro */
} 

body {
 overflow: auto;
}